.container {
    margin: 50px auto;
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.item {
    width: 80%;
    height: 30%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.image {
    width: 15%;
}

.about {
    height: 100%;
}

.counter {
    text-align: center;
}

.minus, .plus {
    cursor: pointer;
    width: 20px;
    height: 20px;
    background: #f2f2f2;
    border-radius: 7px;
    border: 1px solid #ddd;
    padding: 8px 5px 8px 5px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

input {
    height: 34px;
    width: 100px;
    text-align: center;
    font-size: 20px;
    border: 1px solid #ddd;
    border-radius: 7px;
    display: inline-block;
    vertical-align: middle;
}

.total-price {
    margin: 20px auto;
}

.empty {
    font-family: sans-serif;
    text-align: center;
}
