<div class="container" *ngIf="!isCartEmpty()">
    <div class="item" *ngFor="let item of products">
        <div class="image">
            <img [src]="item.image" alt="">
        </div>
        <div class="about">
            <h3>{{item.name}}</h3>
        </div>
        <div class="price">
            <h3>{{subTotalPrice(item) | currency}}</h3>
        </div>
        <div class="counter" >
            <span class="minus" (click)="minus(item)">-</span>
            <input type="number" [value]="count(item)"  readonly />
            <span class="plus" (click)="plus(item)">+</span>
        </div>
    </div>
    <div class="total-price">
        <h3>Your total is: {{totalPrice() | currency}}</h3>
    </div>
</div>

<div *ngIf="isCartEmpty()" class="empty">
    <h1>Your cart is empty</h1>
</div>