.logo {
    text-align: center;
}

.cart {
    margin: auto 15px;
    bottom: 35px;
    cursor: pointer;
    background-color: #cecece;
    padding: 10px 10px;
    position: relative;
    display: inline-block;
    border-radius: 5px;
}

.cart .badge {
    position: absolute;
    top: -15px;
    right: -15px;
    padding: 5px 10px;
    border-radius: 50%;
    background: rgb(4, 161, 4);
    color: white;
}